submission.csv
AIFC - Final.R
data_path.txt
ADF_results/*
data/*
cnn_env/*
tranformers_env/*
.vscode/*
__pycache__/*
.wolf*
*.h5
*.pyc
*.ipynb_checkpoints
*.csv
*.png
*.jpg
*.jpeg
*.pdf
*.docx
*.doc
*.xlsx
*.xls